.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Game {
    margin-top: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
