.GameBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -240px;
}

.Blanks {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    animation: dropInBlanks 8s ease forwards;
}

.word {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-top: 8rem;
    font-size: 2rem;
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
}

@keyframes dropInBlanks{
   0% {
       opacity: 0;
       transform: translateY(-100%);
   } 

   30%, 100% {
       opacity: 1;
       transform: translateY(0);
   }

}